

@import 'milligram/dist/milligram.css';


body {
  height: 100%;
  background-image: url('../public/images/wallpaper.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Container for the animal images */
.animals-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  margin-left: 70px;
  margin-top: 60px
}

.animal-image img {
  width: 200px;
  height: 200px;
  object-fit: cover; 
  border: 3px solid; 
  margin: 10px auto; 
  text-align: center;
}

/* Form container styles */
.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  background-color: white; 
  
  z-index: 1000; 
  text-align: center; 
}

