

body {
  height: 100%;
  background-image: url('../public/images/Safari.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.animals-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  margin-left: 70px;
  margin-top: 100px
}

.animal-image img {
  width: 175px;
  height: 175px;
  object-fit: cover; 
  border: 3px solid black; 
  border-radius: 20px;
  margin: 10px auto; 
  text-align: center;
}


.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  background-color: black; 
  color: #00693E;
  opacity: 0.7;
  font-weight: bolder;
  
  z-index: 1000; 
  text-align: center; 
}

.animal-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px auto;
  width: 175px;
}

.animal-image img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border: 3px solid transparent;
  transition: border-color 0.3s;
}

.animal-info {
  margin-top: 5px;
  padding: 1px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.3s; 
  border-radius: 10px;
}

.animal-info p {
  margin: 0;
  padding: 0;
  color: #00693E;
}

.animal-image:hover img {
  border-color: #00693E; 
  
}

.animal-info:hover {
  background-color: rgba(0, 0, 0, 0.4); 
  color: #00693E; 
}

.show-image {
  max-width: 300px; 
  height: auto;
  display: block;
  margin: 0 auto; 
  margin-top: 100px;
  border: 3px solid black; 
  border-radius: 10px; 
}

.show-text {
  text-align: center;
  width: 80%;
  margin: 30px auto;
  color: white;
  font-weight: 800;
}

.show-input {
  
  width: 90% !important; 
  padding: 10px; 
  border: 2px solid #ccc; 
  border-radius: 5px;
  color: white 
}

.form-container {
  max-width: 500px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-button,
.delete-button {
  margin-top: 10px; 
}


button.form-container {
  
  background-color: #00693E;
  color: white;
  border: none;
  padding: 0px 20px;
  border-radius: 5px;
  text-align: center; 
  display: inline-block; 
  width: auto; 
  margin-bottom: 10px; 
}





